/* Scroll */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--mainColor);
}

::-webkit-scrollbar-thumb {
    background: var(--highlightColor2);
}

/* Config */

:root {
    --mainColor: #0a0a0a;
    --secondColor: #f5f5f5;
    --highlightColor: #ed2a79;
    --highlightColor2: #d7239d;
}

html {
    font-size: 18px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: var(--secondColor);
    background-color: var(--mainColor);
}

a {
    color: inherit;
    text-decoration: none;
}

/* Utilities */

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 1rem;
    margin: 0 auto;
}

.highlight {
    color: var(--highlightColor2);
}

.glitch {
    position: relative;
    display: inline-block;
}

.glitch::after,
.glitch::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "graphic designer";
}

.glitch::before {
    color: #ff00c1;
    animation: glitch-effect 3s infinite;
}

.glitch::after {
    color: #3498db;
    animation: glitch-effect 2s infinite;
}

@keyframes glitch-effect {
    0% {
        top: -2px;
        left: -2px;
    }

    25% {
        top: 0;
        left: -2px;
    }

    50% {
        top: 2px;
        left: -1px;
    }

    75% {
        top: -1px;
        left: 1px;
    }

    100% {
        top: -2px;
        left: 0;
    }
}

.text-right {
    text-align: right;
}

/* General */

.header {
    position: relative;
    display: inline-block;
    margin-bottom: 1.5rem;
}

.header::after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70vw;
    height: 1px;
    content: "";
    background-color: var(--highlightColor2);
}

.btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.1;
    color: var(--secondColor);
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--highlightColor2);
    border-radius: 5px;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: var(--highlightColor2);
}

/* Intro */

.intro {
    position: relative;
    overflow: hidden;
}

.intro__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.intro__header {
    line-height: 1.3;
}

.intro__img {
    display: block;
    width: 100%;
    height: auto;
    padding: 1rem;
}

.arrow {
    position: absolute;
    right: 1rem;
    bottom: 101vh;
    width: 3px;
    height: 100px;
    background-color: var(--highlightColor2);
    animation: arrow 2s ease-out 1s 1;
    animation-fill-mode: forwards;
}

.arrow::after {
    position: absolute;
    bottom: -4px;
    left: -8.5px;
    width: 3px;
    height: 25px;
    content: "";
    background-color: var(--highlightColor2);
    transform: rotate(135deg);
}

@keyframes arrow {
    from {
        bottom: 101vh;
    }

    to {
        bottom: 2rem;
    }
}

/* Social */

.social {
    display: flex;
    margin-top: 2rem;
}

.social__link {
    height: 40px;
    margin-right: 1rem;
    background-color: var(--highlightColor2);
    transition: transform 0.2s;
}

.social__link:hover {
    transform: translateY(-5px);
}

.social__link--cv {
    padding: 0 7px;
    line-height: 42px;
    text-align: center;
    background-color: var(--highlightColor);
}

/* About */

.about__text {
    line-height: 1.5;
}

.progress-bar {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.progress-bar__title {
    min-width: 120px;
}

.progress-bar__item {
    display: flex;
    width: 50%;
    margin-bottom: 1.5rem;
}

.progress-bar__bar {
    width: 150px;
    height: 100%;
    border: 1px solid var(--highlightColor2);
}

.progress-bar__progress {
    height: 100%;
    background-color: var(--highlightColor2);
}

/* Portfolio */

.portfolio {
    margin-top: 10rem;
}

.portfolio__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -1rem;
}

.portfolio__col {
    flex-basis: 33.3333%;
    padding: 1rem;
    cursor: pointer;
}

.portfolio__item {
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: border 0.2s, background 0.2s;
}

.portfolio__item:hover {
    background-color: var(--highlightColor);
    border-color: var(--highlightColor);
}

.portfolio__img {
    display: block;
    width: 100%;
    height: auto;
}

/* Contact */

.contact {
    margin: 10rem 0;
    overflow: hidden;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    margin-bottom: 27px;
    font-family: inherit;
    font-size: inherit;
    color: var(--secondColor);
    background-color: var(--mainColor);
    border: 1px solid var(--highlightColor);
    border-radius: 5px;
    transition: border 0.2s;
}

textarea {
    min-height: 200px;
    vertical-align: top;
    resize: none;
}

input:focus,
textarea:focus {
    border-color: var(--highlightColor2);
    outline: none;
}

/* Media */

@media (max-width: 700px) {
    .progress-bar__item {
        width: 100%;
    }

    .portfolio {
        margin-top: 5rem;
    }

    .portfolio__col {
        flex-basis: 50%;
    }

    .contact {
        margin: 5rem 0;
    }
}

@media (max-width: 530px) {
    .intro__photo {
        display: none;
    }

    .portfolio__col {
        flex-basis: 100%;
    }
}

@media (max-height: 480px) {
    .arrow {
        display: none;
    }
}
